# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
MSoC_Lab1/MSoC_Lab1.xcodeproj/project.pbxproj
MSoC_Lab1/MSoC_Lab1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MSoC_Lab1/MSoC_Lab1.xcodeproj/project.xcworkspace/xcuserdata/leehaw.xcuserdatad/UserInterfaceState.xcuserstate
MSoC_Lab1/MSoC_Lab1.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/MSoC_Lab1.xcscheme
MSoC_Lab1/MSoC_Lab1.xcodeproj/xcuserdata/leehaw.xcuserdatad/xcschemes/xcschememanagement.plist
MSoC_Lab1/MSoC_Lab1/MSoC_Lab1.1